* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 70%;
}

.search-box {
  margin: 2% 0;
  text-align: center;
}

input {
  padding: 1rem;
  width: 40%;
  border: 2px #ccc solid;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  transition: ease-in, 0.3s;
}

input:focus {
  border-color: #2196f3;
}

.gallery {
  max-width: 1000px;
  display: grid;
  margin: 0 auto;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
}